<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
        *:focus {
            outline: none;
        }
        
        body {
            margin: 0;
            padding: 0;
            background: rgb(191, 190, 200);
            font-size: 16px;
            color: #222;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
        }
        
        #login-box {
            align-items: center;
            position: relative;
            margin: 5% auto;
            width: 400px;
            height: 440px;
            background: rgba(126, 164, 176, 0.305);
            border-radius: 2px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        }
        
        .left {
            position: absolute;
            top: 0;
            left: 0;
            box-sizing: border-box;
            margin-left: 50px;
            padding: 40px;
            width: 300px;
            height: 400px;
        }
        
        h1 {
            margin: 0 0 20px 0;
            font-weight: 300;
            font-size: 28px;
        }
        
        input[type="text"],
        input[type="password"] {
            display: block;
            box-sizing: border-box;
            margin-bottom: 20px;
            padding: 4px;
            width: 220px;
            height: 32px;
            border: none;
            border-bottom: 1px solid #AAA;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 15px;
            transition: 0.2s ease;
        }
        
        input[type="text"]:focus,
        input[type="password"]:focus {
            border-bottom: 2px solid #16a085;
            color: #16a085;
            transition: 0.2s ease;
        }
        
        input[type="submit"] {
            margin-top: 28px;
            width: 120px;
            height: 32px;
            background: #16a085;
            border: none;
            border-radius: 2px;
            color: #FFF;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            text-transform: uppercase;
            transition: 0.1s ease;
            cursor: pointer;
        }
        
        input[type="submit"]:hover,
        input[type="submit"]:focus {
            opacity: 0.8;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
            transition: 0.1s ease;
        }
        
        input[type="submit"]:active {
            opacity: 1;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
            transition: 0.1s ease;
        }
        
        button {
            margin-top: 22px;
            width: 120px;
            height: 32px;
            background: #16a085;
            border: none;
            border-radius: 2px;
            color: #FFF;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            /* text-transform: uppercase; */
            transition: 0.1s ease;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div id="login-box">
        <div class="left">
            <h1>Sign in</h1>
            <form>
                <input type="text" name="username" placeholder="E-mail" autocomplete="email username" />
                <input type="password" name="password" placeholder="Password" autocomplete="current-password" />
                <input type="submit" name="signin_submit" value="Log in" />
            </form>
            <div>
                <p>New User <a href="http://localhost:3000/auth/page1">Register</a> </p>
            </div>
        </div>
    </div>
    <script>
        const form1 = document.querySelector('form')
        form1.addEventListener('submit', async(e) => {
            e.preventDefault()
            const result = await fetch('http://localhost:3000/auth/login', {
                method: 'POST',
                body: JSON.stringify({
                    username: form1.username.value,
                    password: form1.password.value,
                }),
                headers: {
                    'content-Type': 'application/json',

                }
            })

            const data = await result.json();
            if (data.status == true) {
                location.assign(`http://localhost:3000/admin/`)
            }
            // console.log("Working")
            // console.log(await data);

            // document.getElementsByClassName("left")[0].innerHTML = data.data.user_id
        })
    </script>
    <%- include('../partials/footer') %>