<%- include('../partials/adminHeader.ejs') -%>
    <!--start page wrapper -->
    <div class="page-wrapper">
        <div class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                <div class="breadcrumb-title pe-3">Forms</div>
                <div class="ps-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mb-0 p-0">
                            <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Form Layouts</li>
                        </ol>
                    </nav>
                </div>
                <div class="ms-auto">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary">Settings</button>
                        <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
							</button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end"> <a class="dropdown-item" href="javascript:;">Action</a>
                            <a class="dropdown-item" href="javascript:;">Another action</a>
                            <a class="dropdown-item" href="javascript:;">Something else here</a>
                            <div class="dropdown-divider"></div> <a class="dropdown-item" href="javascript:;">Separated link</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--end breadcrumb-->
            <div class="row">
                <div class="col-xl-7 mx-auto">
                    <h6 class="mb-0 text-uppercase">Products</h6>
                    <hr/>
                    <div class="card border-top border-0 border-4 border-primary">
                        <div class="card-body p-5">
                            <div class="card-title d-flex align-items-center">
                                <div><i class="bx bxs-user me-1 font-22 text-primary"></i>
                                </div>
                                <h5 class="mb-0 text-primary">Create Products</h5>
                            </div>
                            <hr>
                            <form id="cpro" enctype="multipart/form-data">
                                <div class="col-md-6">
                                    <label for="pro_name" class="form-label">Product Name</label>
                                    <input type="text" class="form-control" name="pro_name" id="product_name">
                                </div>
                                <div class="col-md-4">
                                    <label for="cat_id" class="form-label">Category</label>
                                    <select name="cat_id" class="form-select" id="category_id">
                                        <option  selected>select</option>
                                        <% result.forEach((e)=>{%>
                                            <option value="<%=e.cat_id%>"><%=e.cat_name%></option>
                                            <%})%>
                                        </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="proPrice" class="form-label">Product Price</label>
                                    <input type="text" class="form-control" name="pro_price">
                                </div>
                                <div class="col-md-6">
                                    <label for="pro_img" class="form-label">Image</label>
                                    <input type="file" class="form-control" name="pro_img">
                                </div>
                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="pro_featured" checked="true">
                                        <label class="form-check-label" for="feature">Featured</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="pro_desc" class="form-label">Product Discription</label>
                                    <textarea class="form-control" name="pro_desc" placeholder="Discription" rows="3"></textarea>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary px-5">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <script>
                var inputs = document.getElementsByTagName('input');

                for (var i = 0; i < inputs.length; i++) {
                    if (inputs[i].type == 'checkbox') {
                        inputs[i].checked = false;
                    }
                }
                const myForm = document.getElementById('cpro');
                myForm.addEventListener('submit', async(e) => {
                    e.preventDefault();
                    const formData = new FormData(myForm)
                    const result = await fetch('http://localhost:3000/admin/cpro', {
                        method: 'POST',
                        body: formData,
                    })
                    const data = await result.json();
                    if (data.status == true) {
                        location.assign(`http://localhost:3000/admin/vpro`)
                    }
                    // document.getElementsByClassName("left")[0].innerHTML = data

                })
            </script>
            <!--end page wrapper -->
            <%- include('../partials/adminFooter.ejs') -%>